
   
    
      <div id="main-container" class="container">
      <div id= "health">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <!-- <h1 class="display-4">Campaigns</h1> -->
          <!-- <div class="card-body" id="border"> -->
                <!-- <div class="container"> -->
                        <div class="card" id="health2">
                            <div class="card-body">
                              <div id = "borderCard">
                              <h5 class="card-title">Name</h5>
                              </div>
                              <br>
                              <p class="card-text">Health</p>
                              <br>
                              <input class="form-control mr-sm-2" type="search" placeholder="" aria-label="Search">
                              <br>
                              <button id="amethyst" class="jewel amethyst">+<img src="#" alt=""></button>
                              
                              <button id="emld" class="jewel emld">-<img src="#" alt=""></button>
                              <br>
                              <div id=borderCard><p></p><br></div>
                              <br><br>
                            </div>
                          </div>
                          <div class="card" id="health2">
                                <div class="card-body">
                                  <div id = "borderCard">
                                  <h5 class="card-title">Name</h5>
                                  </div>
                                  <br>
                                  <p class="card-text">Health</p>
                                  <br>
                                  <input class="form-control mr-sm-2" type="search" placeholder="" aria-label="Search">
                                  <br>
                                  <button id="amethyst" class="jewel amethyst">+<img src="#" alt=""></button>
                                  
                                  <button id="emld" class="jewel emld">-<img src="#" alt=""></button>
                                  <br>
                                  <div id=borderCard><p></p><br></div>
                                  <br><br>
                                </div>
                              </div>
                              <div class="card" id="health2">
                                    <div class="card-body">
                                      <div id = "borderCard">
                                      <h5 class="card-title">Name</h5>
                                      </div>
                                      <br>
                                      <p class="card-text">Health</p>
                                      <br>
                                      <input class="form-control mr-sm-2" type="search" placeholder="" aria-label="Search">
                                      <br>
                                      <button id="amethyst" class="jewel amethyst">+<img src="#" alt=""></button>
                                      
                                      <button id="emld" class="jewel emld">-<img src="#" alt=""></button>
                                      <br>
                                      <div id=borderCard><p></p><br></div>
                                      <br><br>
                                    </div>
                                  </div>
                                  <div class="card" id="health2" style=>
                                        <div class="card-body">
                                          <div id = "borderCard">
                                          <h5 class="card-title">Name</h5>
                                          </div>
                                          <br>
                                          <p class="card-text">Health</p>
                                          <br>
                                          <input class="form-control mr-sm-2" type="search" placeholder="" aria-label="Search">
                                          <br>
                                          <button id="amethyst" class="jewel amethyst">+<img src="#" alt=""></button>
                                          
                                          <button id="emld" class="jewel emld">-<img src="#" alt=""></button>
                                          <br>
                                          <div id=borderCard><p></p><br></div>
                                          <br><br>
                                        </div>
                                      </div>
                                      <div class="card" id="health2">
                                            <div class="card-body">
                                              <div id = "borderCard">
                                              <h5 class="card-title">Name</h5>
                                              </div>
                                              <br>
                                              <p class="card-text">Health</p>
                                              <br>
                                              <input class="form-control mr-sm-2" type="search" placeholder="" aria-label="Search">
                                              <br>
                                              <button id="amethyst" class="jewel amethyst">+<img src="#" alt=""></button>
                                              
                                              <button id="emld" class="jewel emld">-<img src="#" alt=""></button>
                                              <br>
                                              <div id=borderCard><p></p><br></div>
                                              <br><br>
                                            </div>
                                          </div>
                                          <div class="card" id="health2">
                                                <div class="card-body">
                                                  <div id = "borderCard">
                                                  <h5 class="card-title">Name</h5>
                                                  </div>
                                                  <br>
                                                  <p class="card-text">Health</p>
                                                  <br>
                                                  <input class="form-control mr-sm-2" type="search" placeholder="" aria-label="Search">
                                                  <br>
                                                  <button id="amethyst" class="jewel amethyst">+<img src="#" alt=""></button>
                                                  
                                                  <button id="emld" class="jewel emld">-<img src="#" alt=""></button>
                                                  <br>
                                                  <div id=borderCard><p></p><br></div>
                                                  <br><br>
                                                </div>
                                              </div>
                                              <div class="card" id="health2" >
                                                    <div class="card-body">
                                                      <div id = "borderCard">
                                                      <h5 class="card-title">Name</h5>
                                                      </div>
                                                      <br>
                                                      <p class="card-text">Health</p>
                                                      <br>
                                                      <input class="form-control mr-sm-2" type="search" placeholder="" aria-label="Search">
                                                      <br>
                                                      <button id="amethyst" class="jewel amethyst">+<img src="#" alt=""></button>
                                                      
                                                      <button id="emld" class="jewel emld">-<img src="#" alt=""></button>
                                                      <br>
                                                      <div id=borderCard><p></p><br></div>
                                                      <br><br>
                                                    </div>
                                                  </div>
                                                  <div class="card" id="health2">
                                                        <div class="card-body">
                                                          <div id = "borderCard">
                                                          <h5 class="card-title">Name</h5>
                                                          </div>
                                                          <br>
                                                          <p class="card-text">Health</p>
                                                          <br>
                                                          <input class="form-control mr-sm-2" type="search" placeholder="" aria-label="Search">
                                                          <br>
                                                          <button id="amethyst" class="jewel amethyst">+<img src="#" alt=""></button>
                                                          
                                                          <button id="emld" class="jewel emld">-<img src="#" alt=""></button>
                                                          <br>
                                                          <div id=borderCard><p></p><br></div>
                                                          <br><br>
                                                        </div>
                                                      </div>
                                                      
                </div>          
        </div>
      </div>
</div>